<!-- http://127.0.0.1:8000/test/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Example</title>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/plugins/bootstrap-5.3.0-alpha1/css/bootstrap.min.css">
    <style>
        h3 {
            margin-bottom: 5px;
        }
        .radio-group {
            margin-bottom: 15px;
        }
        .radio-group input[type="radio"] {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h2>Upload File</h2>
    <form method="post" action="/test/upload_file" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
        {{ message }}
    </form>

    <h2>path</h2>
    <form id="path">
        {% csrf_token %}
        <div class="form-group">
            <h3>防御类型：</h3>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="ac" id="defense1">
                <label class="form-check-label" for="defense1">ac</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="defense2" id="defense2">
                <label class="form-check-label" for="defense2">abl</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="defense3" id="defense3">
                <label class="form-check-label" for="defense3">anp</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="defense4" id="defense4">
                <label class="form-check-label" for="defense4">ft</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="defense5" id="defense5">
                <label class="form-check-label" for="defense4">fp</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="defense6" id="defense6">
                <label class="form-check-label" for="defense4">nad</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="defense7" id="defense7">
                <label class="form-check-label" for="defense4">nc</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="defense8" id="defense8">
                <label class="form-check-label" for="defense4">Spectral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="defense_type" value="defense9" id="defense9">
                <label class="form-check-label" for="defense4">DBD</label>
            </div>
        </div>
        


        <br>
        <input type="button" value="Submit" onclick="submitForm1()">
    </form>
    <br>
    <script>
        function submitForm1() {
            var formData = $("#path").serialize();
            $.ajax({
                type: "POST",
                url: "/test/ajax_path_dealer/",  // 这是将请求发送到的URL
                data: formData,
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  // 在请求头中设置CSRF令牌
                },
                success: function(response) {
                    // 创建一个文本框并将返回的数据填充到文本框中
                    var textarea = $('<textarea>').attr('rows', '10').attr('cols', '50').text(JSON.stringify(response));
                    // 清空页面中的旧文本框，并将新的文本框添加到页面中
                    $('#responseContainer').empty().append(textarea);
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);  // 打印错误信息到控制台
                }
            });
        }








    </script>
    <!-- 添加一个容器用于显示返回的数据 -->
    <div id="responseContainer" class="form-control" style="white-space: nowrap;"></div>
</body>
</html>




        
          
    





